<div style="width: 500px">
  <h2>Textile help</h2>
  <div>
    <h3>Block modifiers:</h3>
    <table cellspacing="0">
      <tr>
        <td rowspan="3"><a href="http://www.textpattern.com/help/?item=header">Header</a></td>
        <td>h1. Some text</td>
        <td><h1>Some text</h1></td>
      </tr>
      <tr>
        <td>h2. Some text</td>
        <td><h2>Some text</h2></td>
      </tr>
      <tr>
        <td>h3. Some text</td>
        <td><h3>Some text</h3></td>
      </tr>
      
      <tr>
        <td><a href="http://www.textpattern.com/help/?item=blockquote">Blockquote</a></td>
        <td>Some text<br/>bq. some more text<br/>even more text</td>
        <td>Some text<br/>&nbsp; &nbsp; &nbsp; some more text<br/>even more text</td>
      </tr>
      
      <tr>
        <td><a href="http://www.textpattern.com/help/?item=numeric">Numeric list</a></td>
        <td># item<br/># item<br/># item</td>
        <td>1. item<br/>2. item<br/>3. item</td>
      </tr>
      
      <tr>
        <td><a href="http://www.textpattern.com/help/?item=bulleted">Bulleted list</a></td>
        <td>* item<br/>* item<br/>* item</td>
        <td>&bull; item<br/>&bull; item<br/>&bull; item</td>
      </tr>
    </table>
  </div>
  
  <div>
    <h3>Inline modifiers:</h3>
    <table cellspacing="0">
      <tr>
        <td><a href="http://www.textpattern.com/help/?item=italic">Emphasis</a></td>
        <td>_some text_</td>
        <td><em>some text</em></td>
      </tr>
      
      <tr>
        <td><a href="http://www.textpattern.com/help/?item=bold">strong</a></td>
        <td>*some text*</td>
        <td><strong>some text</strong></td>
      </tr>
    </table>
  </div>
  
  <div>
    <h3>To insert a link:</h3>
    <table cellspacing="0">
      <tr>
        <td>"Google":http://www.google.com</td>
        <td><a href="http://www.google.com">Google</a></td>
      </tr>
    </table>
  </div>
  
  <div>
    <h3>To insert more than one line break:</h3>
    <table cellspacing="0">
      <tr>
        <td>text<br/>&lt;br/&gt;<br/><br/>more text</td>
        <td>text<br/><br/><br/>more text</td>
      </tr>
    </table>
  </div>
</div>
